## Resources:
[Documentation of different ways of creating DataFrame](https://pandas.pydata.org/docs/user_guide/io.html)

In [1]:
import pandas as pd

### Create Dataframe from CSV file:

In [2]:
df = pd.read_csv("/Users/shahmdmesbahulislam/Documents/code/Data_Science_nd_ML/Pandas/weather_data.csv")
df.head()

      day  temperature  windspeed  event
0  1/1/17           32          6   Rain
1  1/2/17           35          7  Sunny
2  1/3/17           28          2   Snow
3  1/4/17           24          7   Snow
4  1/5/17           32          4   Rain

### Create Dataframe from EXCEL file:

In [8]:
data = pd.read_excel("/Users/shahmdmesbahulislam/Documents/code/Data_Science_nd_ML/Pandas/Weather.xlsx","Sheet1")
data

         day  tempareture  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow

### Create Dataframe using Dictionary of python:

In [12]:
weather_data = {
    'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,35,28],
    'windspeed':[6,7,2],
    'event':['Rain','Sunny','Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

### Create Dataframe using tuples :

In [13]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(weather_data,columns=["day","temperature","windspeed","event"])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

### Create Dataframe using dictionary(another way):

In [14]:
weather_data = [
    {'day':'1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
    {'day':'1/2/2017','temperature':35,'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2017','temperature':28,'windspeed':2,'event':'Snow'}
]
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow