# Dataframe :
Dataframe is a main object in Pandas.  
It is used to represent data with rows and columns(tabular or excel spredsheet like data)

**Topics:**  
1. Creating Dataframe
2. Dealing with rows and columns
3. Operations:min, max, std, describe
4. Conditional Selection
5. set_index

In [3]:
import pandas as pd
# df = pd.read_csv('/Users/shahmdmesbahulislam/Documents/code/Data_Science_nd_ML/Pandas/weather_data.csv')
# df

      day  temperature  windspeed  event
0  1/1/17           32          6   Rain
1  1/2/17           35          7  Sunny
2  1/3/17           28          2   Snow
3  1/4/17           24          7   Snow
4  1/5/17           32          4   Rain
5  1/6/17           32          2  Sunny

You can also create your data frame by using python dictionary.

In [7]:
weather_data = {
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

Now we are going to print the shape.Shape means the dimension of our dataframe.  
**Library Function Used:**  
dataframe_name.shape

In [8]:
df.shape

(6, 4)

In [12]:
#Now save this tuple in rows and colomns just like this.
rows,columns = df.shape

### head() :
If we want to look up some initial rows and columns of our dataframe we can use **dataframe_name.head()** function to print some rows and columns of our dataframe

In [14]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [15]:
#if we want to print only 2 rows we can do this
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

### tail() :
if we want to print last few rows of our dataframe we can use **dataframe_name.tail()**

In [16]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [18]:
#if we want to print only last 2 rows we can do this
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### Slicing of Dataframe:

In [20]:
#data_frame[start : stop(exclusive)] -> this will slice the rows
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [28]:
#print only selected columns
df[['event','day','temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

### Print the columns or content of the columns :

In [21]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [22]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [23]:
df['day'] #df.day or df['day'] both are same

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

The columns of dataframe are basically of type pandas series

In [24]:
type(df['event'])

pandas.core.series.Series

## Some operatioins with Dataframe : 

[**Pandas Series Operations**](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

In [44]:
#maximum temperature in the dataframe using max() function
df['temperature'].max()

35

In [45]:
df['temperature'].min()

24

In [46]:
df['temperature'].mean()

30.333333333333332

In [47]:
df['temperature'].std()

3.8297084310253524

In [48]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [49]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [38]:
# df[df.temperature==df.temperature.max()]
df[df.temperature == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [43]:
# df['day'][df.temperature == df.temperature.max()]
df['day'][df['temperature'] == df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [41]:
df[['day','temperature']][df.temperature == df.temperature.max()]

        day  temperature
1  1/2/2017           35

### Play with index:

In [51]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [62]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [65]:
df.set_index('day') #this line will return a new data frame.

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [63]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [66]:
df.reset_index(inplace=True)
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny

In [67]:
df.set_index('event',inplace=True)
df

       index       day  temperature  windspeed
event
Rain       0  1/1/2017           32          6
Sunny      1  1/2/2017           35          7
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7
Rain       4  1/5/2017           32          4
Sunny      5  1/6/2017           31          2

In [68]:
df.loc['Snow']

       index       day  temperature  windspeed
event
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7